.terraform/*
/**/*.tfstate
/**/*.tfstate.*
/**/.terraform/*
terraform/main.tf
terraform/outputs.tf
terraform/variables.tf
terraform/data.tf
terraform/providers.tf
terraform/version.tf
.vscode/settings.json
/.idea/*

